:root {
    --primary1 : #cda274;
    --primary2 : #292f36;
    --primary3 : #f4f0ec;
    --primary4 : #4D5053;

    --main-font : 'Jost', sans-serif;
    --heading-font : 'DM Serif Display', serif;
}

* {
    background-color: var(--body-color);
    font-family: var(--main-font);
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none !important;
}

/* Style Color */
.color-primary-1 {
    color: var(--primary1);
}
.color-primary-2 {
    color: var(--primary2);
}
.color-primary-3 {
    color: var(--primary3);
}
.color-primary-4 {
    color: var(--primary4);
}
/* End Style Color */

/* bg color */
.bg-color-primary-1 {
    background-color: var(--primary1);
}
.bg-color-primary-2 {
    background-color: var(--primary2);
}
.bg-color-primary-3 {
    background-color: var(--primary3);
}
.bg-color-primary-4 {
    background-color: var(--primary4);
}
/* end of bg color */

/* style text */
.text-size-40{
    font-size: 40px;
}
.text-size-20{
    font-size: 20px;
}
.text-size-85{
    font-size: 85px;
}
.text-size-22{
    font-size: 22px;
}
.text-size-18{
    font-size: 18px;
}
.text-size-16{
    font-size: 16px;
} 
.text-size-25{
    font-size: 25px;
}
.text-size-50{
    font-size: 50px;
}
.text-size-24{
    font-size: 24px;
}
.text-size-35{
    font-size: 35px;
}
.text-size-100{
    font-size: 100px;
}
.text-size-120{
    font-size: 120px;
}
.text-size-150{
    font-size: 150px;
}
.text-size-250{
    font-size: 250px;
}
.text-italic{
    font-style: italic;
}
.text-weight-400{
    font-weight: 400;
}
.text-weight-600{
    font-weight: 600;
}
.text-weight-700{
    font-weight: 700;
}
.text-font-dm{
    font-family: var(--heading-font);
}
.text-font-jost{
    font-family: var(--main-font);
}

.text-justify{
    text-align: justify !important;
}
/* end of style text */

/* border style */
.border-radius-70{
    border-radius: 70px;
}
.border-radius-45{
    border-radius: 45px;
}
/* end of border style */

/* Navbar */
.navbar {
    /* height: 110px; */
    background-color: #fff;
}

.nav-link:hover {
    color: var(--primary2);
    font-weight: bold;
}
/* End Navbar */

/* Footer */
.footer {
    margin-top: 80px;
}

.text-footer {
    color: #4D5053;
}

.text-footer:hover {
    color: #4D5053;
    font-weight: bold;
}
/* End Footer */

/* Home */
.jumbotron-home {
    background-image: url('/assets/img/page_home/jumbotron-home.jpg');
    background-size: cover;
    height: 650px;
    width: 100%;
    border-bottom-left-radius: 151px;
    display: cover;
}

.jumbotron-home-content {
    position: relative;
    top: 45%;
    transform: translate(0, -50%);
}

.work-content {
    margin-top: 80px;
}

.work-content a {
    color: var(--primary2);
}

.about-content {
    margin-top: 50px;
}

.testimonial {
    padding: 48px 12px;
    background-color: var(--primary3);
    border-radius: 60px;
    margin-top: 100px;
}

.testimonial-card {
    background-color: #fff;
    padding: 27px;
    border-radius: 27px;
    height: 349px;
    margin-bottom: 20px;
}

.testimonial-card-body {
    text-align: justify;
}

.client {
    margin-top: 100px;
}

.client div {
    margin-bottom: 70px;
}

.home-project {
    margin-top: 100px;
}

.home-project-card-img-1 {
    border-top-right-radius: 100px;
}

.home-project-card-img-2 {
    border-top-left-radius: 100px;
}

.home-project-card-img-3 {
    border-bottom-right-radius: 100px;
}

.home-project-card-img-4 {
    border-bottom-left-radius: 100px;
}

.home-project-card-body {
    color: var(--primary2);
}

.amount {
    background-color: var(--primary3);
    padding: 100px 0;
    margin-top: 60px;
}

.amount-content {
    border-right: none;
}

.home-blog {
    margin-top: 60px;
}

.home-blog-card {
    border-radius: 62px;
    padding: 21px;
}

.home-blog-card:hover {
    background-color: var(--primary3);
}

.home-blog-card img {
    border-top-left-radius: 52px;
    border-top-right-radius: 52px;
}

.home-blog-card-img-content {
    width: 124px;
    margin-top: -60px;
    margin-left: 22px;
    background-color: #fff;
    padding: 7px;
    border-radius: 8px 8px 8px 0px;
}

.home-contact {
    margin-top: 60px;
    padding: 20px;
    background-color: var(--primary2);
    color: #fff;
    border-radius: 30px;
}

/* Desktop Version */
@media (min-width: 992px) {
    .jumbotron-home {
        height: 900px;
        border-bottom-left-radius: 291px;
    }

    .jumbotron-home-content {
        top: 50%;
    }

    .work-content {
        margin-top: 120px;
    }

    .work-content div {
        padding: 83px 0;
    }
    
    .work-content div:hover {
        background-color: var(--primary3);
        border-radius: 30px;
    }

    .about-content {
        margin-top: 150px;
    }

    .img-about {
        border-top-right-radius: 326px;
        border-bottom-left-radius: 123px;
    }

    .testimonial {
        padding: 88px 24px;
        margin-top: 180px;
    }

    .testimonial-card {
        padding: 58px 37px;
        height: 339px;
        margin-bottom: 0;
    }

    .client {
        margin-top: 150px;
    }

    .home-project {
        margin-top: 150px;
    }

    .amount {
        padding: 151px 0;
        margin-top: 150px;
    }

    .amount-content {
        border-right: 1px solid var(--primary1);
    }

    .home-blog {
        margin-top: 150px;
    }

    .home-contact {
        margin-top: 150px;
        padding: 80px 315px;
        border-radius: 70px;
    }
}
/* End of Desktop Version */

/* End of Home */

/* component */
.img_round_rectange_pad{
    border-radius: 70px;
}
.cus-btn{
    border-radius: 18px;
    padding: 18px 40px;
    border: none;
}
.pad_banner{
    width: 400px;
    border-top-left-radius: 37px;
    border-top-right-radius: 37px;
    padding: 24px 42px 14px 42px;    
}
/* end of component */

/* about page style */
.banner_about{
    background-image: url("/assets/img/page_about/banner.jpg");
    background-size: cover;
    width: 100%;
    height: 58vh;
    display: flex;
    justify-content: center;
    align-items: end;
}

.quote_pad{
    border-width: 15px;
    border-color: var(--primary3);
    border-style: solid;
    border-radius: 70px;
    margin: 150px 20px;
    padding: 60px;
}

.margin_top_150{
    margin-top: 150px;
}

.padding_vertical_180{
    padding-top: 180px;
    padding-bottom: 180px;
}
.margin_top_77{
    margin-top: 77px;
}
/* end about page style */

/* service detail page style */
.banner_services_single{
    background-image: url("/assets/img/page_service_detail/banner.jpg");
    background-size: cover;
    width: 100%;
    height: 58vh;
    background-position-y: center;
    display: flex;
    justify-content: center;
    align-items: end;
}

.margin_vertical_200{
    margin-top: 200px;
    margin-bottom: 200px;
}
.custom-li li{
    line-height: 50px;
}
/* end of service detail page */

/* channelog page style */
.card_primary_pad{
    min-height: 360px;
}
.margin_vertical_100{
    margin-top: 100px;
    margin-bottom: 100px;
}
/* end of channelog page style */

/* 404 page style */
.img_404{
    background-image: url("/assets/img/page_404/banner.jpg");
    background-size: cover;
    border-bottom-left-radius: 353px;
    height: 90vh;
}
/* end of 404 page style */