:root {
    --primary1 : #cda274;
    --primary2 : #292f36;
    --primary3 : #f4f0ec;
    --body-color : #fff;

    --main-font : 'Jost', sans-serif;
    --heading-font : 'DM Serif Display', serif;
}

* {
    background-color: var(--body-color);
    font-family: var(--main-font);
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Navbar */
.navbar {
    height: 110px;
    background-color: var(--body-color);
}

.navbar .navbar-brand {
    font-family: var(--heading-font);
    font-size: 40px;
    font-weight: 400;
}

.navbar .navbar-brand img {
    width: 34px;
    height: 34px;
    align-items: center;
}

.navbar .nav-link {
    font-size: 20px;
    font-weight: 400;
}
/* End Navbar */

/* Footer */
.logo-brand {
    color: var(--primary2);
    font-family: var(--heading-font);
    font-size: 40px;
    font-weight: 400;
    text-decoration: none;
}

.text-footer {
    color: #4D5053;
    font-family: var(--main-font);
    font-size: 22px;
    font-weight: 400;
    text-decoration: none;
}

.title-footer {
    color: var(--primary2);
    font-family: var(--heading-font);
    font-size: 25px;
    font-weight: 400;
}
/* End Footer */

/* style text */
.text-size-40{
    font-size: 40px;
}
.text-size-20{
    font-size: 20px;
}
.text-size-85{
    font-size: 85px;
}
.text-size-22{
    font-size: 22px;
}
.text-size-18{
    font-size: 18px;
}
.text-size-16{
    font-size: 16px;
} 
.text-size-25{
    font-size: 25px;
}
.text-size-50{
    font-size: 50px;
}
.text-size-24{
    font-size: 24px;
}
.text-size-35{
    font-size: 35px;
}
.text-italic{
    font-style: italic;
}
.text-weight-400{
    font-weight: 400;
}
.text-weight-600{
    font-weight: 600;
}
.text-weight-700{
    font-weight: 700;
}
.text-font-dm{
    font-family: 'DM Serif Display', serif;
}
.text-font-jost{
    font-family: 'Jost', sans-serif;
}
/* end of style text */